/FamilyBudget.WebAPI/bin/
/FamilyBudget.WebAPI/obj/
/FamilyBudget.Tests.Unit/bin/
/FamilyBudget.Tests.Unit/obj/
/FamilyBudget.WebClient/.angular/
/FamilyBudget.WebClient/.vscode/
/FamilyBudget.WebClient/node_modules/
.idea/
.vs/
